extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Create &amp; Review Courses
    p.lead Blah blah blah!
    //a.btn.btn-info-outline.btn-lg(href='/register') Get Started for FREE

